In [10]:
import pandas as pd

In [71]:
dflwd= pd.DataFrame({
    'Depth':[11,20,24,30,40,50,55,60,75],
    'porosity' : [3,4,5,6,20,30,40,50,60]})

In [73]:
dfmdt=pd.DataFrame({
    'Depth':[10,18,20,45,49,51],
    'Pressure' :[400,500,400,600,700,750]})

In [74]:
dfFW=pd.merge_asof(dfmdt, dflwd, on='Depth', direction='forward')
dfFW

   Depth  Pressure  porosity
0     10       400         3
1     18       500         4
2     20       400         4
3     45       600        30
4     49       700        30
5     51       750        40

In [64]:
dfBW=pd.merge_asof(dfmdt, dflwd, on='Depth', direction='backward')
dfBW

   Depth  Pressure  porosity
0     10       400       NaN
1     18       500       3.0
2     20       400       4.0
3     45       600      20.0
4     49       700      20.0
5     51       750      30.0